<h1>eventos</h1>
<hr>
<div class="form-inline">
  <div class="form-group mb-2">
    <label for=""> Filtar: </label>
    <input type=""
      [(ngModel)]="filterList"
      class="form-control mr-2"
      placeholder="buscar"
      name=""
      id="">
  </div>
</div>
<h3>Resultados para: {{filterList}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="toggleImage()">
          {{!showImage ? 'Mostar imagem' : 'Ocultar imagem'}}
        </button>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Quantidade</th>
      <th>Lote</th>
      <th>options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.eventoId}}</td>
      <td>
        <img [collapse]="showImage"
        [isAnimated]="true"
        src="{{evento.imagemURL}}"
        alt=""
        class="user"
        >
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn btn-primary btn-sm mr-2">Editar</button>
        <button class="btn btn-danger btn-sm">Deletar</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div [hidden]="true" *ngFor="let evento of eventos">
  {{evento | json}}
  <hr>
</div>





